<% include ../layouts/header %>

<div class="container">
    <div class="heading-1 text-center mt-3">All Plant Species</div>
    <% include ../layouts/messages %>
    <table class="table table-bordered table-text-centered table-no-padding mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Plant Species</th>
                <th scope="col">Common Name</th>
                <th scope="col">Description</th>
                <th scope="col">Genus</th>
                <th scope="col">Order</th>
                <th scope="col">Class</th>
                <th scope="col">Phylum</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <% if (results) { %>
        <tbody>
            <% results.forEach(result => { %>
            <tr>
                <td><%= result.plant_species %></td>
                <td><%= result.common_name %></td>
                <td><%= result.description %></td>
                <td><%= result._genus %></td>
                <td><%= result._order %></td>
                <td><%= result._class %></td>
                <td><%= result._phylum %></td>
                <td><%= result._status %></td>
            </tr>
            <% }); %>
        </tbody>
        <% } %>
    </table>
</div>

<% include ../layouts/footer %>