<% include ../layouts/header %>

<div class="container mt-3 text-dark">
    <div class="row">
        <div class="col-md-1 col-lg-2 col-xl-3"></div>
        <div class="col-md-10 col-lg-8 col-xl-6">
            <form action="/animals/edit/<%= animal_id %>" method="POST" enctype="multipart/form-data">
                <div class="heading-2 text-center my-3">EDIT ANIMAL</div>
                <% include ../layouts/messages %>
                <div class="form-group">
                    <label class="required" for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Name"
                        name="name" value="<%= typeof name != 'undefined' ? name : '' %>">
                </div>
                <div class="form-group">
                    <label class="required" for="dob">Date Of Birth</label>
                    <input type="date" class="form-control" id="dob" placeholder="Enter Date Of Birth"
                        name="dob" value="<%= typeof dob != 'undefined' ? (new Date(dob)).date : '' %>">
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" name="status">
                        <option value="Normal">Normal</option>
                        <option value="Endangered">Endangered</option>
                        <option value="Extinct">Extinct</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="required" for="gender">Gender</label>
                    <input type="text" class="form-control" id="gender" placeholder="Enter Gender"
                        name="gender" value="<%= typeof gender != 'undefined' ? gender : '' %>">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" rows="5" id="description" placeholder="Enter Description"
                        name="description"><%= typeof description != 'undefined' ? description.trim() : '' %></textarea>
                </div>
                <div class="form-group">
                    <label for="file">Photo</label>
                    <br>
                    <input type="file" id="file" name="file">
                </div>
                <div class="form-group">
                    <label class="required" for="animal_species">Animal Species</label>
                    <select class="form-control" id="animal_species" name="animal_species">
                        <% all_species.forEach((species) => { %>
                            <option value="<%= species.animal_species %>"><%= species.animal_species %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <label class="required" for="location">Location</label>
                    <input type="text" class="form-control" id="location" placeholder="Enter Latitude and Longitude"
                        name="location" value="<%= typeof location != 'undefined' ? location.x+' '+location.y : '' %>">
                </div>
                
                <button type="submit" class="btn btn-outline-dark pl-4 pr-4">Save</button>
            </form>
        </div>
    </div>
</div>
<% if(typeof dob != 'undefined') { %>
<script>
    document.getElementById("dob").valueAsDate = new Date("<%= dob %>");
</script>
<% } %>
<% include ../layouts/footer %> 

