<% include ../layouts/header %>

<div class="container mt-3 text-dark">
    <div class="row">
        <div class="col-md-1 col-lg-2 col-xl-3"></div>
        <div class="col-md-10 col-lg-8 col-xl-6">
            <div class="heading-2 text-center my-3">VIEW ANIMAL</div>
            <% include ../layouts/messages %>
            <div class="form-group">
                <label for="name">Name</label>
                <div><%= typeof animal.name != 'undefined' ? animal.name : '' %></div>
            </div>
            <div class="form-group">
                <label for="dob">Date Of Birth</label>
                <div><%= typeof animal.dob != 'undefined' ? (new Date(animal.dob)).toDateString() : '' %></div>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <div><%= typeof animal.status != 'undefined' ? animal.status : '' %></div>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <div><%= typeof animal.gender != 'undefined' ? animal.gender : '' %></div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <div><%= typeof animal.description != 'undefined' ? animal.description : '' %></div>
            </div>
            <div class="form-group">
                <label for="file">Photo</label>
                <br>
                <img src="/animals/image/<%= animal.animal_id%>" width="300px">
            </div>
            <div class="form-group">
                <label for="animal_species">Animal Species</label>
                <div><%= typeof animal.animal_species != 'undefined' ? animal.animal_species : '' %></div>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <div><%= typeof animal.location != 'undefined' ? (animal.location.x+", "+animal.location.y) : '' %></div>
            </div>
            <div class="form-group">
                <label for="area">Area</label>
                <div><%= typeof animal.area != 'undefined' ? animal.area : '' %></div>
            </div>
            
            <a role="button" class="btn btn-info" href="/animals/edit/<%= animal.animal_id %>">Edit</a>
        </div>
    </div>
</div>

<style>
label {
    font-weight: bold;
}
</style>

<% include ../layouts/footer %>